// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option, .advanced-search {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h4, .h4 {
    font-size: 1.1rem
  }
}

ds-metric-donuts a {
  background-size: contain;
}

.header-tag {
  border: 1px solid #555555;
  border-radius: calc(.5rem - 2px);
  color: #555555;
  font-size: 0.75rem;
  padding: 0.15rem 0.5rem;
}

.header-tag-primary {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary);
}
