.section-title {
    h5 {
        font-weight: 600;
        line-height: 26px;
    }
    h2 {
        font-size: 40px;
        line-height: 48px;
    }
    p {
        line-height: 24px;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
}

.sdg-container {
    transition: box-shadow 0.3s ease-in-out;
}

.sdg-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sdg-container img {
    display: block;
    transition: box-shadow 0.3s ease-in-out;
}

.sdg-container:hover img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.section-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #430085 0%, #7f53ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(67, 0, 133, 0.15);
  letter-spacing: 2px;
  margin-bottom: 8px;
}
