<section class="container my-5">
  <h2 class="section-title">Objetivos de Desarrollo Sostenible</h2>
  <p class="text-muted">En septiembre de 2015, 193 países acordaron adoptar una serie de objetivos globales para terminar con la pobreza, proteger el planeta y garantizar la prosperidad para todos. Haga clic en un objetivo de la izquierda para explorar cómo nuestras Personas y su trabajo hacen su aporte para lograrlo.</p>
    <div class="d-flex flex-wrap gap-1 justify-content-center justify-content-md-start">
      <div class="sdg-container" *ngFor="let sdg of sustainableGoals">
        <a [href]="sdg.url">
          <picture>
            <img width="125" height="125" [src]="sdg.img" [alt]="sdg.name">
          </picture>
        </a>
      </div>
  </div>
</section>

