<!-- Unnecessary until we need CMS -->
<!--<ng-container *ngIf="(site$.value && hasHomeHeaderMetadata); then dsHomeHeader; else dsHomeNews"></ng-container>-->
<ng-template #dsHomeHeader>
  <div id="home-header-wrapper">
    <ds-text-section [sectionId]="'site'"
                            [textRowSection]="homeHeaderSection"
                            [site]="site$.value"></ds-text-section>
  </div>
</ng-template>

<ng-template #dsHomeNews>
  <ds-home-coar></ds-home-coar>
  <ds-home-news></ds-home-news>
</ng-template>

<ng-container *ngIf="site$.value">

  <ds-hero [sectionComponents]="sectionComponents"></ds-hero>
  <ds-year-production-summary></ds-year-production-summary>
  <div class="bg-gray py-2">
    <ds-research-lines></ds-research-lines>
  </div>
  <ds-sustainable-goals></ds-sustainable-goals>
</ng-container>

<ds-view-tracker [object]="site$.value"></ds-view-tracker>
<ds-suggestions-popup></ds-suggestions-popup>
