.banner-description {
    color: #fff;
    text-align: center;
    text-wrap: balance;
    .display-4 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
    }
    .lead {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }
}

.banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    > picture{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img {
            height: 150px;
        }
    }
}

@media (max-width: 420px) {
  .banner-text > picture img {
    height: 120px;
  }
}

.search-container {
    padding: 0px;
}

.banner-search {
    margin-bottom: 20px;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5rem 1rem;

}

.hero {
  margin-top: calc(var(--ds-content-spacing) * -1);
}

.background-image-wrapper {
  position: absolute;
  inset: 0;
}

.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-filter {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(67, 0, 133, 0.90) 0%,
    rgba(67, 0, 133, 0.70) 50%,
    rgba(67, 0, 133, 0.90) 100%
  );
}
