:host ::ng-deep.card {
  background-color: var(--ds-counters-section-background);
  min-height: 142px;
}

.counters-section {
    min-width: 120px;
    max-width: 140px;
    color: var(--ds-counters-section-color);
}

.counters-section:hover {
    color: var(--ds-counters-section-hover-color);
}

.counters-label {
    line-height: 1.25;
    font-weight: 500;
}
