.section-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #430085 0%, #7f53ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(67, 0, 133, 0.15);
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.card-header {
  background-color: #430085;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}

.year-count {
  font-size: 2rem;
  font-weight: 700;
  color: #382483;
  margin-bottom: 0;
}

.total-paragraph {
  font-size: 1.25rem;
  text-align: center;
}

.total-value {
  color: #382483;
  font-size: 1.5rem;
  font-weight: 700;
}

.average-paragraph {
  font-size: 1.25rem;
  text-align: center;
}

.average-value {
  color: #382483;
  font-size: 1.5rem;
  font-weight: 700;
}

.average-info {
  color: #1e6f90;
  font-size: 1.5rem;
  font-weight: 700;
}
